<!DOCTYPE html>
<html>
<head>
	<title>PSS Messaging Demo</title>
	<link rel="stylesheet" href="assets/app.css">
</head>
<body>
<div id="app">
	<h1>PSS Messaging Demo</h1>

	<!-- input -->
	<div class="send-message">
		<h2>Send Message</h2>
		<div>
			<label>Overlay Address Prefix</label>
			<input v-model="overlayAddress"></input>
			<label>Public Key</label>
			<input v-model="publicKey"></input>
			<label>Message</label>
			<textarea v-model="messageText"></textarea>
			<button v-on:click="sendMessage">Send</button>
		</div>
	</div>

	<!-- output -->
	<div class="receive-message">
		<h2>Received Messages</h2>
		<div id="receieved-messages">
			<div v-for="message in messages" :key="messages.message">
				{{ message.message }}
			</div>
		</div>
	</div>


	<audio id="bzzAudioSend">
	  <source src="assets/bzz.mp3" type="audio/mpeg">
	  Your browser does not support the audio element.
	</audio>


	<audio id="bzzAudioReceive">
	  <source src="assets/bzzzzzz.mp3" type="audio/mpeg">
	  Your browser does not support the audio element.
	</audio>
</div>
</body>
<script src="./assets/axios.min.js"></script>
<script src="./assets/vue.js"></script>
<script src="./index.js"></script>
</html>