<!DOCTYPE html>
<html>
<head>
	<title>PSS Example</title>
	<link rel="stylesheet" href="assets/app.css">
</head>
<body>
<div id="app">
	<h1>PSS Example</h1>
	<h4>Powered By Swarm</h4>

	<!-- input -->
	<div class="send-message">
		<h3>Send Message</h3>
		<div>
			<label>Ethereum Address</label><br/>
			<input v-model="ethAddress"></input><br/>
			
			<label v-if="ethAddressError">error: </label><span>{{ ethAddressError }}</span><br/>
			<label v-if="overlayAddress">overlayAddress: </label><span>{{ overlayAddress }}</span><br/>
			<label v-if="overlayAddress">publicKey: </label><span>{{ publicKey }}</span><br/>
			<br />

			<label>Message</label><br/>
			<textarea v-model="messageText"></textarea><br/>
			<button v-on:click="sendMessage">Send</button><br/>
		</div>
	</div>

	<!-- output -->
	<div class="show-paste">
		<h3>Receive</h3>
		<div>
		<ul id="receieved-messages">
			<li v-for="message in messages" :key="messages.message">
				{{ message.message }}
			</li>
		</ul>
		</div>
	</div>


	<audio id="bzzAudio">
	  <source src="assets/bzz.mp3" type="audio/mpeg">
	  Your browser does not support the audio element.
	</audio>
</div>
</body>
<script src="./assets/lib/axios.min.js"></script>
<script src="./assets/lib/vue.js"></script>
<script src="./assets/lib/sha3.min.js"></script>
<script src="./assets/utils.js"></script>
<script src="./assets/index.js"></script>
</html>